@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   <br />
    Thôn Thanh Mai , Xã Nhơn Hạnh, Thị Xã An Nhơn, Tỉnh Bình Định<br />
    <abbr title="Phone">0372684015</abbr>
    
</address>

<address>
    <strong>Hỗ Trợ:</strong>   <a href="example.com"></a><br />
    <strong>Thị trường:</strong> <a href="https://www.marketing.com/"></a>
</address>